---
layout: archive
title: "Teaching"
excerpt: "This page presents an overview of my current/past teaching efforts, and includes a brief description of my view on teaching."
permalink: /teaching/
author_profile: true
---

Through my teaching efforts I hope to contribute to the scientific formation of the next generation of scientists (and in particular, astrophysicists/astronomers).
In addition to the specific efforts mentioned below, I enjoy being a tutor in chemistry / physics / mathematics at the secondary education level.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
