
<div class="big-custom-blockquote">
    <p>
        I highly recommend reading the FAIR (Findable, Accessible, Interoperable and Reusable) principles for Research Software 
        (FAIR4RS principles, described in <a href="https://www.nature.com/articles/s41597-022-01710-x">this Nature publication</a>) when developing software 
        for the purpose of advancing your research.<br /> 
        While I am a big proponent of these principles, I also recognize that the software I develop/have developed needs updates to fully adhere to them; 
        this is a work in progress.
    </p>
</div>
<br />
