<div style="display: flex; justify-content: flex-start; align-items: center; gap: 1.5rem; margin-top: 0.5rem; margin-bottom:1.0rem; margin-left: 0.75rem;">
  <!-- GitHub Repository link -->
  <a href="{{ include.repo_url }}" target="_blank" rel="noopener" style="text-decoration: none; line-height: 1; position: relative" data-hover="{{ include.repo_hover }}">
    <i class="fab fa-github" style="color: #ffffff; font-size: 2.5rem;"></i>
  </a>
  <!-- Documentation link -->
  <a href="{{ include.doc_url }}" target="_blank" rel="noopener" style="text-decoration: none; line-height: 1; display: flex; align-items: center;" data-hover="{{ include.doc_hover }}">
    <img src="/images/software/readme-brands-solid-full.svg" alt="" style="height: 2.9rem; width: auto; filter: brightness(0) invert(1);">
  </a>
</div>