[data-hover] {
    position: relative;
}
[data-hover]::after {
    content: attr(data-hover);
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #222;
    color: #fff;
    padding: 4px 8px;
    font-size: 0.75rem;
    white-space: nowrap;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    transition: 0.15s;
    z-index: 999;
}
[data-hover]:hover::after {
    opacity: 1;
    visibility: visible;
}
